<?xml version="1.0" encoding="UTF-8" ?>
<!--<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">-->
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
<!--<hibernate-configuration>-->
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/webassignment04?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>


        <mapping class="com.jiat.webassignment04.web.entity.Department"/>
        <mapping class="com.jiat.webassignment04.web.entity.Education"/>
        <mapping class="com.jiat.webassignment04.web.entity.Employee"/>
        <mapping class="com.jiat.webassignment04.web.entity.Gender"/>
        <mapping class="com.jiat.webassignment04.web.entity.Position"/>
    </session-factory>
</hibernate-configuration>